body {
    background-color: #eeeeee;
    font-family: sans-serif;
}

#header {
    color: #ffffff;
    background-color: #3a7cff;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}

#console {
    font-family: monospace;
    color: #E3E3E3;
    background-color: #292929;
    text-align: left;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
}

#console a {
    color: #3a7cff;
}

#console a:hover {
    color: #A0BDF7;
}

#run-button {
    padding: 5px;
    margin: 15px;
    min-width: 150px;
}

#status {
    padding: 5px;
}
